@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box; 
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  
}

#currency-exchange {
  background-color: #00008B;
  padding: 30px 20px;
  border-radius: 10px;
  max-width: 90%;
  width: 400px;
  text-align: center;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #191970;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  button:hover {
    transform: scale(1);
    border: 2px solid white;
  }


h1 {
  color: white;
}

label {
  font-weight: 700; 
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #696969;
}

#swap-container {
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin: 5px 5px;
    transition: transform 0.3s ease, color 0.3s ease;
  }


  #swap-container:hover {
    transform: scale(1);
    color: #ffffff;
  }

#currency-search {
  display: none;
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

a{
    text-decoration: none;
}
@media (max-width: 360px) {
  body {
    height: fit-content;
  }

  

  #currency-exchange {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
    
  }

  #currency_converter{
    display: flex;
    flex-direction: row;
  }

  .currency-pair,
  .currency-pair2 {
    width: 35%; 
    margin: 10px auto;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }


  .input-text {
    width: 90%; 
    max-width: 300px;
    margin: 10px auto;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  img {
    height: 40px;
    background-color: #192080;
  }

  #swap-container {
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin: 5px 5px;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  #swap-container{
    position: relative;
    top: 10px;
  }

  #swap-container:hover {
    transform: scale(1);
    color: #ffffff;
  }

  button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #191970;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  button:hover {
    transform: scale(1);
    border: 2px solid white;
  }

  #currency-rate {
    font-size: large;
    margin: 20px;
  }

  h2{
    color: #C71585;
  }

  .currency-output{

  }

  .currency_rate1{
    font-size: 15px;
    position: relative;
    left: 40px;
  }

  .currency_rate2{
    font-size: 15px;
    position: relative;
    left: 40px;
  }

  .currency-output{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: 40px;

  }

}
